@media screen and (max-width: 600px) {
    .w3-top .w3-right {
        display: none;
    }

    #about .w3-col:first-child {
        display: none;
    }

    #about .w3-col:last-child {
        width: 100%;
    }

    #about .w3-col:last-child p {
        font-size: 20px;
        text-align: left;
    }

    #about .w3-col:last-child p:last-child {
        padding-bottom: 35px;
    }

    #menu {
        display: flex;
        flex-direction: column;

        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 0;
    }

    #menu .w3-col {
        width: 100%;
    }

    #menu .w3-col:last-child {
        padding-bottom: 100px;
    }

    #menu .w3-col .w3-center {
        padding-top: 70px;
    }

    #menu .w3-col h4 {
        font-size: 32px;
    }

    #menu .w3-col p {
        font-size: 19px;
    }

    #contact {
        padding-bottom: 70px;
    }

    #contact p {
        font-size: 19px;
    }

    #contact .w3-text-blue-grey {
        font-size: 21px;
    }

    footer p {
        font-size: 18px;
    }

    footer p a {
        text-decoration: none;
        border-bottom: 2px solid black;
    }
}