html {
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

* {
  color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Georgia, serif;
}

h1 {
  font-size: 2.2rem;
}
h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.8rem;
}

h4 {
  font-size: 1.6rem;
}

h5 {
  font-size: 1.4rem;
}

h6 {
  font-size: 1.2rem;
}

blockquote {
  border-left: rgb(221, 221, 221);
  font-style: italic;
}

@media screen and (max-width: 360px) {
  html {
    font-size: 12px;
  }
}

@media screen and (min-width: 500px) {
  html {
    font-size: 14px;
  }
}

@media screen and (min-width: 600px) {
  html {
    font-size: 16px;
  }
}

@media screen and (min-width: 800px) {
  html {
    font-size: 18px;
  }
}

@media screen and (min-width: 1300px) {
  html {
    font-size: 21px;
  }
}

@media screen and (min-width: 1800px) {
  html {
    font-size: 23px;
  }
}
/* •	Make the font size for phones 12px
•	Make the font size for screens larger than 500 14px
•	Make the font size for screens larger than 600 16px
•	Make the font size for screens larger than 800 18px
•	Make the font size for screens larger than 1300 21px
•	Make the font size for screens larger than 1800 23px */